html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: aqua;
    padding: 10px 20px 0px;
}
.header {
    background-color: rgb(5, 108, 108);
    min-height: 150px;
}
.content {
    
    background-image: url(contato2.png);
    min-height: 500px;
    padding: 20px;
    background-repeat: no-repeat;
   
    
}
.footer {
    background-color: rgb(99, 56, 240);
    min-height: 150px;
}

.label {

    font-weight: bold;
}

.label_mensagem {
    position: absolute;
    font-weight: bold;
    top: 384px;
    margin-left: -43px;
}

.label_email {
    position: absolute;
    font-weight: bold;
    margin-left: 193px;

}
.botao_submit {
    
    position: absolute;
    top: 10px;
    margin-bottom: 10px;

}

.fieldset {

    height: 400px;
}

.textareamsg {

    position: absolute;
    margin-top: 134px;
    margin-left: -41px;
    width: 253px;
}

.title_form{

    text-align: center;
}

.input{

    position: absolute;
    top: 294px;
    margin-left: -46px;
}


.input_email{

    position: absolute;
    top: 294px;
    margin-left: 193px;
}

.label_assunto{

    position: absolute;
    top: 331px;
    margin-left: -44px;
    font-weight: bold;
}

.input_assunto{

    position: absolute;
    top: 354px;
    margin-left: -44px;
    width: 405px;
}