html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: aqua;
    padding: 10px 20px 0px;
    list-style: none;
}

.menu ul{

    margin-top: 288px;
    
}

.menu ul li a{

    border-radius: 3px;
    border: 1px solid cadetblue;
    background-color: aqua;
    
}

.header {
    background-image: url(modificado2.jpg);
    min-height: 150px;
    background-repeat: repeat;
}
.content {
    
    background-image: url(contato2.png);
    min-height: 500px;
    padding: 20px;
    background-repeat: no-repeat;
   
    
}
.footer {
    background-color: rgb(99, 56, 240);
    min-height: 150px;
}

.title_form{

    text-align: center;
}

.format_text p, address{

    color: white;
}

.estilo_descricao{

    position: absolute;
    margin-top: 40px;
}

.estilo_form fieldset p.telefone{

    margin-top: 284px;
    margin-left: 254px;
}

.estilo_form fieldset p.telefone_zap{

    margin-top: -14px;
    margin-left: 256px;
}

